@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway&family=Roboto:wght@100;400;500&family=Vujahday+Script&display=swap');    
*{    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    padding: 4px 30px;
}
.fzNav{
    font-size: 40px;
    font-family: 'Vujahday Script', cursive;
}
.fzNav:hover{
    font-size: 40px;
    font-family: 'Vujahday Script', cursive;
    animation: animatelogo 2s linear forwards;
    -webkit-box-reflect: below -30px linear-gradient(transparent , rgba(0, 0, 0, 0.226));
}
.fzitem{
    font-size: 20px;
}
.container{
    max-width: 1350px;
    height: 100vh;
}
.Input{
    background-color: transparent;
    color: rgb(167, 167, 167);
    border: 1px solid rgb(167, 167, 167);
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height: 35px;
    font-size: 16px;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    -webkit-box-reflect: below 1px linear-gradient(transparent , rgba(0, 0, 0, 0.226));
}
.Input:hover{
    background-color: transparent;
    color: rgb(167, 167, 167);
    border: 1px solid rgb(167, 167, 167);
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height: 35px;
    font-size: 16px;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    -webkit-box-reflect: below 1px linear-gradient(transparent , rgba(0, 0, 0, 0.349));
    animation: animate 2s linear forwards;
}
.Input::placeholder{
    color: rgb(167, 167, 167);
}
.Btn{
    background-color: transparent;
    color: rgb(167, 167, 167);
    padding: 2px;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    width: 70px;
    height: 35px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    -webkit-box-reflect: below 1px linear-gradient(transparent , rgba(0, 0, 0, 0.349));

}
.Btn:hover{
    background-color: transparent;
    color: white;
    padding: 2px;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    width: 70px;
    height: 35px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    animation: animate 2s linear forwards;
}
.nav-link{
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
}
@keyframes animatelogo {
    0%,40%,44%,48%{
        color: white;
        text-shadow: none;
    }
    10%,39%,42%,46%,50%,100%{
    color: white;
    text-shadow: 0 0 10px #00c3ff,
                0 0 20px #00c3ff,
                0 0 30px #00c3ff,
                0 0 40px #00c3ff;
    }
}
@keyframes animate {
    0%,40%,44%,48%{
        color: rgb(167, 167, 167);
        border: 1px solid rgb(167, 167, 167);
        box-shadow: none;

    }
    10%,39%,42%,46%,50%,100%{
    color: white;
    box-shadow: 0 0 10px #03bcf4,
                0 0 15px #03bcf4,
                0 0 20px #03bcf4,
                0 0 25px #03bcf4;
    text-shadow: 0 0 10px #03bcf4,
                0 0 15px #03bcf4;
    border: 2px solid white;
    }
    
}
.slider1{
    position: absolute;
    background-color: #03bcf4;
    width: 30px;
    height: 2px;
    left: 400px;
    top: 53px;
    transition: .5s;
}
.slider2{
    position: absolute;
    background-color: #03bcf4;
    width: 30px;
    height: 2px;
    left: 390px;
    top: 60px;
    transition: .7s;
}
#section1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color : black;

}
#section1 img{
    -webkit-box-reflect: below -120px linear-gradient(transparent 50% , rgba(0, 0, 0, 0.267));
}
#section2{
    background-color: lightblue;
}
@media (max-width : 600px) {
    #section1 img{
        -webkit-box-reflect: below -90px linear-gradient(transparent 50% , rgba(0, 0, 0, 0.315));
        width: 470px;
    }
    .slider {
        display: none;
    }
}